$main-block-background: rgba(255, 236, 228, 1);
$main-orange-color: rgba(255, 119, 81, 1);
$main-blue-color:rgb(36, 40, 81);
$main-white-color:rgba(255, 255, 255, 1);
$main-hover-background:linear-gradient(180deg, #ffbba9 0%, #ff6236 100%);
$main-grey-color: #707283;
$second-btn-color:linear-gradient(180deg, #c3e48f 0%, #8ec637 65%);